PORT=5005
MONGO_URI=mongodb://localhost:27017/clublekka
SESSION_SECRET=XyZ2Nb3r4v
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=xyAhJiq2b3r4v
JWT_EXPIRY=1h
BASE_URL=https://uatbilling.bayclub.in/CMSWEBAPIUAT

